$background: #835a97;
$color1: #c7558d;
$color2: #f65d66;
$color3: #ff8427;
$text: #2f4858;

.introContainer {
  background-color: $color3;
  flex-grow: 1;
  text-align: justify;
  transition: 0.3s ease-out;
}
.lowerContainer {
  flex-grow: 2;
  display: flex;
  gap: 2em;
}
.cvButton {
  background-color: $color3;
  flex-grow: 1;
}

.blogButton {
  background-color: $color3;
  flex-grow: 1;
}

.blogButton,
.cvButton {
  flex-grow: 1;
}

.blogButton:hover,
.cvButton:hover {
  flex-grow: 2;
  animation: hoverFlexGrow 0.5s;
  animation: hoverFlexGrow 0.5s ease-out;
}

.mainPageContainer {
  width: 80%;
  max-height: 100vh;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1em;
}

.mainPageTextContainers {
  padding-left: 2em;
  padding-top: 2em;
}

@keyframes hoverFlexGrow {
  from {
    flex-grow: 1;
  }
  to {
    flex-grow: 2;
  }
}
