@use "../utilities/colors.scss";

.resumeContainer {
  display: flex;
  flex-direction: column;
  background-color: colors.$accent1;
  min-height: 100vh;
  height: 100%;
  width: 80%;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4em;
  p {
    text-align: justify;
    font-size: 14px;
    letter-spacing: normal;
  }
  gap: 3em;
}

img {
  width: 30%;
}
.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  p {
    width: 60%;
    font-size: large;
    letter-spacing: inherit;
    line-height: 1.5em;
  }
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
}

h2 {
  width: 100%;
  text-align: center;
}

.resumeSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
  column-gap: 5em;
}

.experienceTitlecontainer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.experiencePoint {
  width: 40%;
  gap: 1em;
}
