@use "../utilities/colors.scss";

.resumeContainer {
  display: flex;
  flex-direction: column;
  background-color: colors.$accent1;
  min-height: 100vh;
  width: 60%;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4em;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

.resumeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experienceTitlecontainer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
