@use "./utilities/colors.scss";

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;

  background-color: colors.$background;
  color: black;
  font-family: Sanchez;
  font-size: large;
  letter-spacing: 0.1em;

  text-align: center;
}

#root {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.sanchez-regular {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
}

.sanchez-regular-italic {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.button:hover {
  cursor: pointer;
}

.returnToMainPage {
  background-color: colors.$accent2;
  padding: 1em;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0em;
  top: 0;
}

.pageSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
  column-gap: 5em;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  background-color: colors.$accent1;
  min-height: 100vh;
  height: 100%;
  width: 80%;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4em;
  gap: 5em;
}
