@use "../../utilities/colors.scss";

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5em;
  gap: 10em;
  p {
    width: 60%;
    font-size: large;
    letter-spacing: inherit;
    line-height: 1.5em;
    text-align: justify;
  }
  img {
    height: auto;
    object-fit: cover;
    overflow: hidden;
    display: block;
    max-width: 40%;
    max-height: 20em;
  }
}

h1 {
  text-align: center;
  width: 100%;
  margin-top: 2em;
}

h2 {
  width: 100%;
  text-align: center;
}

.experienceTitlecontainer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.experiencePoint {
  width: 40%;
  gap: 1em;
  p {
    text-align: justify;
    font-size: 14px;
    letter-spacing: normal;
  }
}
